# Global ignores
*~
*.pyc

# Mac
.DS_Store

# autoconf and autotools related
Makefile
Makefile.in
configure
aclocal.m4
/config.log
/config.status
/install-sh
/missing
/src/tasque/tasque

# VS and MD
*.userprefs
*.suo
*.pidb
obj/
*.csproj.user
*.cache

# build output
bin/
/build/out/
*.exe
*.dll
*.pdb
*.mdb

# include binary dependencies
!/src/tasque/lib/*
